.rightM_container{
    display: flex;
    justify-content: center;
    margin-top: 200px;

    #getstarted{
        font-size: 70px;
    }

    #about_getstarted{
        font-size: 15px;
        margin-left: 38px;
    }
}